<section class="total-body mobile-comon-animation mt-5 pt-3 d-block">
    <div class="blog-page comon-services-pge">

        <div class="container">
            <h6 class="text-center cm-sub" data-aos="fade-down"> اخبار و مقالات </h6>
            <h2 class="text-center" data-aos="fade-up"> بلاگ های ما</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-md-3 gx-lg-4">
                <% Data.forEach(element => { %>
                    <div class="col" data-aos="fade-right">
                        <div class="comon-news-part">
                            <div class="comon-pic-news">
                                <figure class="position-relative">
                                    <a href="/blogDetails/?_id=<%= element._id %>"> <img src="images/<%= element.media %>" alt="picb" /> </a>
                                </figure>

                            </div>
                            <div class="dtails-idv-text">
                                <ul class="list-unstyled d-flex">
                                    <li>
                                        <a href="#"> <i class="fa fa-user-alt"></i>
                                            <%= element.writer %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-calendar-week"></i>
                                            <%= element.dateID%>
                                        </a>
                                    </li>
                                </ul>
                                <h5>
                                    <%= element.title %>
                                </h5>
                                <p>
                                    <%= element.description.substring(0,80); %> ... </p>
                                <a href="/blogDetails/?_id=<%= element._id %>" class="btn read-more-bn text-uppercase"> ادامه مطلب </a>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>

    </div>

</section>